# __Chapter 01. 라이브러리 호출__

In [848]:
# 라이브러리 호출
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [650]:
# 한글 깨짐 방
plt.rcParams['font.family'] = 'Malgun Gothic'

----------

# __Chapter 02. 데이터 불러오기__

In [653]:
accident2012 = pd.read_csv('data/차종별 월별 교통사고(2012).csv', encoding='cp949')     # 2012년 차종별 월별 사고 건수 데이터
accident2013 = pd.read_csv('data/차종별 월별 교통사고(2013).csv', encoding='cp949')     # 2013년 차종별 월별 사고 건수 데이터
accident2014 = pd.read_csv('data/차종별 월별 교통사고(2014).csv', encoding='cp949')     # 2014년 차종별 월별 사고 건수 데이터
accident2015 = pd.read_csv('data/차종별 월별 교통사고(2015).csv', encoding='cp949')     # 2015년 차종별 월별 사고 건수 데이터
accident2016 = pd.read_csv('data/차종별 월별 교통사고(2016).csv', encoding='cp949')     # 2016년 차종별 월별 사고 건수 데이터
accident2017 = pd.read_csv('data/차종별 월별 교통사고(2017).csv', encoding='cp949')     # 2017년 차종별 월별 사고 건수 데이터
accident2018 = pd.read_csv('data/차종별 월별 교통사고(2018).csv', encoding='cp949')     # 2018년 차종별 월별 사고 건수 데이터
accident2019 = pd.read_csv('data/차종별 월별 교통사고(2019).csv', encoding='cp949')     # 2019년 차종별 월별 사고 건수 데이터
accident2020 = pd.read_csv('data/차종별 월별 교통사고(2020).csv', encoding='cp949')     # 2020년 차종별 월별 사고 건수 데이터
accident2021 = pd.read_csv('data/차종별 월별 교통사고(2021).csv', encoding='cp949')     # 2021년 차종별 월별 사고 건수 데이터
accident2022 = pd.read_csv('data/차종별 월별 교통사고(2022).csv', encoding='cp949')     # 2022년 차종별 월별 사고 건수 데이터
accident2023 = pd.read_csv('data/차종별 월별 교통사고(2023).csv', encoding='cp949')     # 2023년 차종별 월별 사고 건수 데이터

--------

# __Chapter 03. 데이터 확인(통합전)__

## __1. 각 데이터 Column  확인__

- 데이터를 합치기 위해 각 데이터들의 Column을 확인하였으나 시간이 지남에 따라 Column명이 변경됨을 확인할 수 있다.
- 하지만 동일한 Value를 제공하는 Column이기에 해당 Column들을 동일하게 수정해줘야 한다.

In [658]:
# 변경전 각 데이터 Column값
for i in range(2012,2024):
    df_name = f'accident{i}'
    print(df_name, ':', globals()[df_name].columns)

accident2012 : Index(['가해자차종_대분류', '가해자차종', '월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2013 : Index(['가해당사자종별', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2014 : Index(['가해당사자종별', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2015 : Index(['가해당사자종별', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2016 : Index(['가해당사자종별', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2017 : Index(['가해당사자종별', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2018 : Index(['가해당사자종별', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2019 : Index(['가해당사자종별', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2020 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2021 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2022 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2023 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')

## __2. 각 데이터의 범주형 Column값들 확인하기__

### __2-1. 가해자차종 Column 값 확인__

|연도|컬럼값|
|:---:|---|
|2012 ~ 2016|'승용차' '승합차' '화물차' '특수차' '이륜차' '원동기장치자전거' '자전거' '건설기계' '농기계' __'불명'__|
|2017 ~ 2021|'승용차' '승합차' '화물차' '특수차' '이륜차' '원동기장치자전거' '자전거' '건설기계' '농기계'  __'사륜오토바이(ATV)'__ __'개인형이동수단(PM)'__   __'기타' '불명'__|
|2022 ~ 2023|'승용차' '승합차' '화물차' '특수차' '이륜차' '원동기장치자전거' '자전거' '건설기계' '농기계' __'사륜오토바이(ATV)'__ __'개인형이동장치(PM)'__  __'기타/불명'__|

- [2012년 ~ 2016], [2017년 ~ 2021년], [2022년 ~ 2023년] 데이터의 가해자차종 유형은 모두 동일하다
- '기타', '불명' 데이터는 모두 '기타' 유형으로 합치기로 결정
- 2017년의 데이터부터는 '가해자차종' 유형에서 '사륜오토바이(ATV)', '개인형이동수단(PM)'이 추가되었다.
- 개인형이동수단(PM)에는 __전동킥보드__, 전동이륜평행차, 전기 자전거 (2인 가능) 등이 존재한다

### __2-2. 발생월 Column값 확인__

- 발생월은 모두 1~12월까지 존재한다.

In [665]:
print('accident2012 :', accident2012['월'].unique())

for i in range(2013,2024):
    df_name = f'accident{i}'
    print(df_name, ':', globals()[df_name]['발생월'].unique())

accident2012 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2013 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2014 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2015 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2016 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2017 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2018 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2019 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2020 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2021 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2022 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
accident2023 : [ 1  2  3  4  5  6  7  8  9 10 11 12]

## __3. 각 데이터의 shape 확인__

- 데이터가 가해자차종별 월별 데이터로 구성되어 있어 가해자차종의 갯수가 동일하면 형태가 동일해야한다.
- 하지만 2012년과 2017년도는 Column이 다르다.
- 이유를 찾아보니 2012년의 경우 가해차종을 차종세부(소형,중형,대형)별로 나누어놨기에 데이터가 더 나뉘었다.
- 따라서 이를 가해차종별, 월별로 Groupby가 필요하다.
- 2017년의 경우 개인형이동수단(PM)이 2월부터 시작하여 1월 데이터 1개분이 존재하지 않아 데이터수가 한개 누락되어있다.

In [668]:
for year in range(2012,2024):
    df_name = f"accident{year}"
    print(globals()[df_name].shape)

(298, 8)
(120, 7)
(120, 7)
(120, 7)
(120, 7)
(155, 7)
(156, 7)
(156, 7)
(156, 7)
(156, 7)
(144, 7)
(144, 7)

-------

# __Chapter 04. 데이터 전처리(통합전)__

## __1. Column 통일하기__

- 가해자차종과 관련된 컬럼은 모두 동일한 유형의 값을 가지는 Column이지만 Column명이 다르다.
- 따라서 해당 컬럼을 '가해자차종'이라는 이름으로 통일하여 일관성을 유지해야 한다.
- 2012년도 데이터에는 다른 데이터에는 없는 유형인 '가해자차종'이라는 데이터가 있기에 이를 삭제한다.
- 2012년도 데이터에만 '발생월'이 '월'로 되어 있기에 해당 Column값을 '발생월'로 통일하여준다.

In [673]:
# 2012년 데이터 가해자차종 Column 삭제
accident2012.drop('가해자차종',axis=1, inplace=True)

# 2012년 데이터 Column 수정
accident2012.rename(columns={'가해자차종_대분류':'가해자차종'}, inplace=True)

# 2012년 '월' Column을 '발생월'로 수정
accident2012.rename(columns={'월':'발생월'}, inplace=True)

# 2013 ~ 2019년 데이터 Column 수정
accident2013.rename(columns={'가해당사자종별':'가해자차종'}, inplace=True)
accident2014.rename(columns={'가해당사자종별':'가해자차종'}, inplace=True)
accident2015.rename(columns={'가해당사자종별':'가해자차종'}, inplace=True)
accident2016.rename(columns={'가해당사자종별':'가해자차종'}, inplace=True)
accident2017.rename(columns={'가해당사자종별':'가해자차종'}, inplace=True)
accident2018.rename(columns={'가해당사자종별':'가해자차종'}, inplace=True)
accident2019.rename(columns={'가해당사자종별':'가해자차종'}, inplace=True)

## __2. 변경 후 데이터들의 Column값들이 통일되었는지 확인__

- 모든 데이터들의 Column이 통일되었음을 확인할 수 있다.

In [676]:
# 변경후 각 데이터 Column값
for i in range(2012,2024):
    df_name = f'accident{i}'
    print(df_name, ':', globals()[df_name].columns)

accident2012 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2013 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2014 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2015 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2016 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2017 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2018 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2019 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2020 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2021 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2022 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')
accident2023 : Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')

## __3. 2012년 가해자차종 데이터 묶기__

- 2012년 데이터를 __가해자차종별 발생월별로 Groupby__ 하여 데이터의 형식을 유지하기

In [679]:
accident2012 = accident2012.groupby(['가해자차종', '발생월']).sum().reset_index()
accident2012 = accident2012.reset_index()
accident2012.head(3)

   index 가해자차종  발생월  사고건수  사망자수  중상자수  경상자수  부상신고자수
0      0  건설기계    1    97     8    59   113       1
1      1  건설기계    2   103     8    65    84       2
2      2  건설기계    3   125     5    76   129       4

In [680]:
# 데이터 Shape 재확인
for year in range(2012,2024):
    df_name = f"accident{year}"
    print(globals()[df_name].shape)

(120, 8)
(120, 7)
(120, 7)
(120, 7)
(120, 7)
(155, 7)
(156, 7)
(156, 7)
(156, 7)
(156, 7)
(144, 7)
(144, 7)

## __4. 각 데이터를 구분하기 위해 데이터에 연도 컬럼을 추가__

- 각 데이터는 연단위로 수집한 데이터이기에 __연도 컬럼이 존재하지 않는다.__
- 따라서 이를 그냥 병합할 경우 __연도별 데이터를 구분할 수 없기__ 에 연도와 관련된 컬럼을 추가한다.

In [683]:
# 반복문을 통해 각 데이터프레임에 '연도' 컬럼 추가
for year in range(2012,2024):
    df_name = f"accident{year}"
    globals()[df_name]['연도'] = year

## __5. 각 데이터를 하나의 데이터프레임으로 병합__

- 각 데이터를 하나의 데이터프레임으로 만들고 해당 데이터프레임을 __accident__ 변수에 할당한다.
- 'index'라는 불필요한 컬럼이 추가되어 해당 컬럼을 삭제한다.
- 1667rows x 8columns로 데이터의 갯수에 있어서는 누락되지 않고 잘 병합된 것으로 추정된다.

In [686]:
# accident2012 ~ accident2023까지의 데이터프레임 병합
accident = pd.concat([accident2012, accident2013, accident2014, accident2015, accident2016, accident2017,
                      accident2018, accident2019, accident2020, accident2021, accident2022, accident2023])

# index가 추가되어 해당 Column 삭제
accident.drop('index', axis=1, inplace=True)
accident

           가해자차종  발생월  사고건수  사망자수  중상자수  경상자수  부상신고자수    연도
0           건설기계    1    97     8    59   113       1  2012
1           건설기계    2   103     8    65    84       2  2012
2           건설기계    3   125     5    76   129       4  2012
3           건설기계    4   125     5    74   165       6  2012
4           건설기계    5   143    11    97   174       7  2012
..           ...  ...   ...   ...   ...   ...     ...   ...
139          자전거   12   217     2    60   112      54  2023
140  개인형이동장치(PM)   12   129     0    40    76      26  2023
141         건설기계   12   173     5    43   218      12  2023
142          농기계   12    10     3     3     4       0  2023
143        기타/불명   12   242     0    29   166      67  2023

[1667 rows x 8 columns]

------

# __Chapter 05. 데이터 확인(통합후)__

In [689]:
# 형태 확인
accident.shape

(1667, 8)

In [690]:
# Column 값 확인
accident.columns

Index(['가해자차종', '발생월', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수', '연도'], dtype='object')

In [691]:
# 정보 확인
accident.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1667 entries, 0 to 143
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가해자차종   1667 non-null   object
 1   발생월     1667 non-null   int64
 2   사고건수    1667 non-null   int64
 3   사망자수    1667 non-null   int64
 4   중상자수    1667 non-null   int64
 5   경상자수    1667 non-null   int64
 6   부상신고자수  1667 non-null   int64
 7   연도      1667 non-null   int64
dtypes: int64(7), object(1)
memory usage: 117.2+ KB

In [692]:
# 통계정보 확인
accident.describe()

,발생월,사고건수,사망자수,중상자수,경상자수,부상신고자수,연도
count,1667.000000,1667.000000,1667.000000,1667.000000,1667.000000,1667.000000,1667.000000
mean,6.503299,1551.597481,28.048590,546.517696,1615.017397,144.328734,2017.806239
std,3.451493,3270.819082,47.448228,1151.075822,3662.160381,253.358502,3.375323
min,1.000000,2.000000,0.000000,0.000000,1.000000,0.000000,2012.000000
25%,4.000000,92.000000,2.000000,31.000000,87.500000,7.000000,2015.000000
50%,7.000000,287.000000,7.000000,82.000000,217.000000,59.000000,2018.000000
75%,9.500000,1208.000000,30.000000,451.500000,1122.000000,148.000000,2021.000000
max,12.000000,14305.000000,257.000000,5905.000000,16028.000000,1283.000000,2023.000000

In [693]:
# 결측치 확인
accident.isnull().sum()

가해자차종     0
발생월       0
사고건수      0
사망자수      0
중상자수      0
경상자수      0
부상신고자수    0
연도        0
dtype: int64

In [694]:
# 데이터 값 확인
print(accident['가해자차종'].unique())
print(accident['가해자차종'].value_counts())

['건설기계' '농기계' '불명' '승용차' '승합차' '원동기장치자전거' '이륜차' '자전거' '특수차' '화물차'
 '사륜오토바이(ATV)' '개인형이동수단(PM)' '기타' '개인형이동장치(PM)' '기타/불명']
가해자차종
건설기계           144
농기계            144
승용차            144
승합차            144
원동기장치자전거       144
이륜차            144
자전거            144
특수차            144
화물차            144
불명             120
사륜오토바이(ATV)     84
기타              60
개인형이동수단(PM)     59
개인형이동장치(PM)     24
기타/불명           24
Name: count, dtype: int64

---------

# __Chapter 6. 데이터 전처리(통합 후)__

## __1. Column 통일하기__

- 동일한 내용을 표현하지만 Column명이 다른 것들을 통일하기

In [699]:
# 불명, 기타, 기타/불명 모두 기타로 통일하기
accident['가해자차종'] = accident['가해자차종'].replace({'불명':'기타', '기타/불명':'기타'})

# 개인형이동장치(PM)을 개인형이동수단(PM)로 통일하기
accident['가해자차종'] = accident['가해자차종'].replace({'개인형이동장치(PM)':'개인형이동수단(PM)'})

# 인덱스 재설정하기
accident = accident.reset_index(drop=True)

## __2. 연/월 Column 생성__

In [701]:
# 연 + 월로 연월 컬럼 생성하기
accident['연월'] = pd.to_datetime(accident['연도'].astype(str) + '-' + accident['발생월'].astype(str), format='%Y-%m')

## __3. 계절 변수 추가하기__

In [703]:
# 계절을 판별하는 함수 정의
def get_season(month):
    if month in [3, 4, 5]:
        return '봄'
    elif month in [6, 7, 8]:
        return '여름'
    elif month in [9, 10, 11]:
        return '가을'
    else:
        return '겨울'

# '월' 열을 기반으로 계절 변수 추가
accident['계절'] = accident['발생월'].apply(get_season)

----------

# __Chapter 7. 전처리된 데이터 저장하기__

In [ ]:
accident.to_csv('차종별 교통사고 유형 건수.csv')